.back{
    background:url(img/camera.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center;
    
}

.h1{
    float:left;
    padding:30px;
    font-family:cursive;
    color:whitesmoke;
    font-size: 24px;
    margin-left:140px;
}

.form{
width: 300px;
height:auto;
background-color:black;
color:whitesmoke;
font-family: Arial, Helvetica, sans-serif;
margin-top: 3%;
margin-left: 700px;
padding:50px;
padding-bottom:20px;
padding-right: 10px;
filter:opacity(70%);
}
.sign input{
    cursor: pointer;
    padding:10px;
   background-color:rgb(12, 184, 12);
   border:none;
   color:white;
   margin-left: 100px;
   margin-top:20px;
   border-radius: 5px;
   ;

}
.fb a{
 text-decoration:none;
 color:whitesmoke;
}
.fb p{
    text-align: center;
}
.fb{
    margin-top:-20px;
    margin-left: -25px;;
}
.sign input:hover{
background-color:green;
transition-duration: .5s;
}
.h1:hover{
    color:yellowgreen;
    transition-duration: .5s;
}